<%- include('../layouts/header.ejs') -%>



<!-- Offcanvas Menu Begin -->



<!-- Header Section End -->

<!-- Categories Section Begin -->
<section class="categories">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 p-0">
                <div class="categories__item categories__large__item set-bg"
                <% banners.forEach((banner) => { %>
                     
                    data-setbg="/static/Product_Images/<%= banner.image[0].filename %>" alt="">
                        <% }); %>
               
                <div class="categories__text">
                    <h1>AudioBlast</h1>
                    <p>Sitamet, consectetur adipiscing elit, sed do eiusmod tempor incidid-unt labore
                    edolore magna aliquapendisse ultrices gravida.</p>
                    <a href="#">Shop now</a>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="row">
               
                <% categorylist.forEach(element => {%>
                    
                    <div class="col-lg-6 col-md-6 col-sm-6 p-0">
                        <div class="categories__item set-bg" data-setbg="/static/Product_Images/<%=element.image%>" >
                            <div class="categories__text">
                            <h4>  <%= element.name  %>   </h4>
                            <a href="/shop?category=<%= element._id %>">Shop now</a>
                        </div>
                    </div>
                </div>
            
                <% }) %>
        
            </div>
        </div>
    </div>
</div>
</section>
<!-- Categories Section End -->

<% banners.forEach((banner) => { %>
    <section class="banner set-bg" data-setbg="">
        <div class="container">
            <div class="row">
                <div class="col-xl-7 col-lg-8 m-auto">
                    <div class="banner__slider owl-carousel">
                        <div class="banner__item">
                            <div class="banner__text">
                                <a href=" <%= banner.url  %> ">Shop now
                                   <div style="width: 50%;">

                                       <img src="/static/Product_Images/<%= banner.image[0].filename %>" alt="">
                                   </div> 
                                    
                                </a>
                            </div>
                        </div>
                        <% }); %>
                        <div class="banner__item">
                            <div class="banner__text">
                                <span>The Chloe Collection</span>
                                <h1>The Project Jacket</h1>
                                <a href="#">Shop now</a>
                            </div>
                </div>
                <div class="banner__item">
                    <div class="banner__text">
                        <span>The Chloe Collection</span>
                        <h1>The Project Jacket</h1>
                        <a href="#">Shop now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</section>
<!-- Banner Section End -->



<!-- modal begins -->

<!-- Button trigger modal -->

  
  <!-- Modal -->
  <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Oops...</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" style="text-align: center;">
            <div style="align-items:baseline;" class="auth-links">
                <a href="/login" 
                style="text-decoration: none;
                color: rgb(126, 3, 3);"
                >Login</a>
                <a 
                style="text-decoration: none;
                color:black;"
                href="#"> / </a>
                <a href="/register"
                style="text-decoration: none;
                color:rgb(135, 4, 4);"
                >Register</a>
            </div>
        </div>
        <div class="modal-footer" style=" justify-content: center;">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
          
        </div>
      </div>
    </div>
  </div>

<!-- modal ends -->

<%- include('../layouts/footer.ejs') -%>