<%- include('../layouts/header.ejs') -%>


<section>
    <div class="container">
        <div class="mt-5">

            <% 
            if(orderData && orderData.length>0){
                
                orderData.forEach((order) => {
                    %>
                    <div class="card mb-5 p-2">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-5 my-2  ">

                                    <% 
                                    order.products.forEach((pdt) => {
                                        %>
                                        
                                        <div class="d-flex my-2">
                                            <div class="mx-3">
                                                <img src="/static/product_Images/<%= pdt.productId.image[0].filename %>" class="img-fluid"
                                                    style="width: 3rem;">
                                            </div>
                                            <div>
                                                <h6 class="card-title"><%= pdt.productId.productName %></h6>
                                                <span style="color: rgb(99, 99, 99);">Quantity : <%= pdt.quantity %></span>
                                            </div>
                                        </div>
                                        <%  
                                    })
                                    %>

                                </div>
                                <% 
                                //let totalPaid = order.productPrice*order.quantity // - (order.discountPrice*order.quantity)
                                %>
                                <div class="col-md-3 text-center mt-3 d-flex flex-column justify-content-center  align-items-center">
                                    <h6 class="card-text">Amount: ₹ <%= order.orderTotal %></h6>
                                    <h6 class="card-text">via : <%= order.PaymentMethod %></h6>
                                </div>
                                <div class="col-md-2 text-center mt-3 d-flex flex-column justify-content-center align-items-center">
                                    <% 
                                        const dd = order.createdAt.getDate();
                                        const mm = order.createdAt.getMonth() + 1;
                                        const yyyy = order.createdAt.getFullYear();
                                        
                                        const formattedDate = `${dd}-${mm}-${yyyy}`; 
                                        %>
                               
                                    <h6 class="card-text">Date: <%= formattedDate %> </h6>
                                    <h6 class="card-text" 
                                    
                                    <% 
                                    if(order.status == 'Order Confirmed' || order.status == 'Shipped' || order.status == 'Out For Delivery' || order.status == 'Delivered'){
                                        %>
                                        style='color: green;'
                                        <%  
                                    }else if(order.status == 'Cancelled' || order.status == 'Cancelled By Admin'){
                                        %>
                                        style='color: red;'
                                        <%  
                                    }else{
                                        %>
                                        style='color: orange;'
                                        <%  
                                    }
                                    %>

                                    ><%= order.status %></h6>
                                </div>
                                <div class="col-md-2 text-center mt-3 justify-content-center d-flex align-items-center">
                                    <a href="/orderDetail/<%= order._id %>" class="btn btn-dark">View Details</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <%  

                })
            }else{
                %>
                <h3>You ordered nothing yet  </h3>
                <%  
            }
            %>

        </div>
    </div>
</section>




<%- include('../layouts/footer.ejs') -%>