<%- include('../layouts/header.ejs') -%>



    <!-- Google Font -->
   

    <!-- Css Styles -->


<body>
    <!-- Page Preloder -->
  

   


    <!-- Breadcrumb Begin -->
    <div class="breadcrumb-option">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb__links">
                        <a href="/"><i class="fa fa-home"></i> Home</a>
                        <a href="/shop">Shop</a>
                        <span><%=pdt.productName%></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb End -->

    <!-- Product Details Section Begin -->
    <section class="product-details spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="product__details__pic">
                        <div class="product__details__pic__left product__thumb nice-scroll">
                            
                                <% pdt.image.forEach(item=>{ %>
                            <a class="pt active" href="#">
                               
                                <img  src="/static/Product_Images/<%= item.filename %>">
                            </a>

                          
                            <%})%>

                        </div>
                        <div class="product__details__slider__content">
                            <div class="product__details__pic__slider owl-carousel">
                                <% pdt.image.forEach(item=>{ %>
                                    <div class="main-image-<%= pdt.image.indexOf(item) %>" >
                                        
                                        <img id="main-img-<%= pdt.image.indexOf(item) %>"  src="/static/Product_Images/<%= item.filename %>">

                                    </div>
                                   
                                <%})%>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="product__details__text">
                        <h3><%=pdt.productName%></h3>
                      
                        <div class="product__details__price">₹<%=pdt.discountPrice%><span>₹<%=pdt.price%></span></div>
                        <p></p>
                        <div class="product__details__button">
                                <% if (user) { %>
                                 
                                    <% if (pdt.stock == 0) { %>
                                        <% } else { %>
                                            
                                            <form action="/addToCart/<%=pdt._id%>" method="POST">
                                                <button class="cart-btn"><span class="icon_bag_alt"></span> Add to cart</button>
                                            </form>
                                            <% } %>
                                            <ul>
                                                <% if (isExist) { %>
                                                    <li ><a  href="/remove-wishlist?id=<%= pdt._id%>"><span style="color: red;" class="icon_heart_alt"></span></a></li>
                                                    <% } else { %>
                                                        
                                                        <li ><a href="/add-wishlist?id=<%= pdt._id%>"><span  class="icon_heart_alt"></span></a></li>
                                                        <% } %>
                                                        
                                                    </ul>
                                                    <% } %>
                        </div>
                        <div class="product__details__widget">
                            <ul>
                                <li>
                                    <span>Availability:</span>
                                    <%if(pdt.stock === 0){%>
                                        <div class="stock__checkbox">
                                            <label for="stockin" style="color:rgb(121, 23, 23)">
                                                Out of Stock
                                                <span class="checkmark"></span>
                                            </label>
                                        </div>
                                        <%} else{%> 
                                        
                                    <div class="stock__checkbox">
                                        <label for="stockin">
                                            In Stock
                                            <input type="checkbox" id="stockin">
                                            <span class="checkmark"></span>
                                        </label>
                                    </div>
                                    <%}%>
                                </li>
                                <li>
                                    <span>Brand:</span>
                                    <p><%=pdt.brand%></p>
                                 
                                </li>
                                <li>
                                    <span>Connectivity:</span>
                                   <p><%=pdt.connectivity%></p>
                                </li>
                                <li>
                                    <span>Promotions:</span>
                                    <p>Free shipping</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="product__details__tab">
                        <ul class="nav nav-tabs" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" data-toggle="tab" href="#tabs-1" role="tab">Description</a>
                            </li>
                         
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active" id="tabs-1" role="tabpanel">
                                <p><%=pdt.description%></p>
                            </div>                          
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">  
                <div class="col-lg-12 text-center">
                    <div class="related__title">
                        <h5>RELATED PRODUCTS</h5>
                    </div>
                </div>
                <% if(products.length>0) {%>
                    <% products.forEach(item=>{ %>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="product__item">
                        <div class="product__item__pic set-bg" data-setbg="/static/Product_Images/<%= item.image[0].filename %>">
                            <ul class="product__hover">
                                <li><a href="/static/Product_Images/<%= item.image[0].filename %>" class="image-popup"><span class="arrow_expand"></span></a></li>
                                <li><a href="#"><span class="icon_heart_alt"></span></a></li>
                                <li><a href="#"><span class="icon_bag_alt"></span></a></li>
                            </ul>
                        </div>
                        <div class="product__item__text">
                            <h6><a href="/loadProductDetail/<%=item._id%>"><%= item.productName%></a></h6>
                            <h6><a href="/loadProductDetail/<%=item._id%>"><%= item.category.name%></a></h6>
                        
                           
                            <div class="product__price">₹<%= item.discountPrice%><span>₹<%=item.price%></span></div>
                        </div>
                    </div>
                </div>
                <%})} %>

            </div>
        </div>





        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLongTitle">Oops...</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body" style="text-align: center;">
                    <div style="align-items:baseline;" class="auth-links">
                        <a href="/login" 
                        style="text-decoration: none;
                        color: rgb(126, 3, 3);"
                        >Login</a>
                        <a 
                        style="text-decoration: none;
                        color:black;"
                        href="#"> / </a>
                        <a href="/register"
                        style="text-decoration: none;
                        color:rgb(135, 4, 4);"
                        >Register</a>
                    </div>
                </div>
                <div class="modal-footer" style=" justify-content: center;">
                  <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                  
                </div>
              </div>
            </div>
          </div>
    </section>
    <!-- Product Details Section End -->


    <!-- Js Plugins -->
    <script src="/static/js/zoom.js"></script>
    <script>
        function addToCart(itemId) {
            var form = document.createElement('form');
            form.action = '/addToCart/' + itemId;
            form.method = 'POST';
            document.body.appendChild(form);
            form.submit();
        }
    </script>
  
<%- include('../layouts/footer.ejs') -%>