<%- include('../layouts/header.ejs') -%>


  <!-- Page Preloder -->
  <div id="preloder">
    <div class="loader"></div>
</div>


<!-- Breadcrumb Begin -->
<div class="breadcrumb-option">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb__links">
                    <a href="/"><i class="fa fa-home"></i> Home</a>
                    <span>Wishlist</span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumb End -->



<!--WishList Begins -->


<div class="col-lg-9 col-md-9">
    <div class="row">
        <% if(pdts.wishlist.length>0) {%>
          <% pdts.wishlist.forEach(item=>{ %>
        <div class="col-lg-4 col-md-6 p-3">
            <div class="border"> 
            <div class="product__item sale">
                <div class="product__item__pic set-bg img-fluid" data-setbg="/static/Product_Images/<%= item.image[0].filename %>">
                    
                    <ul class="product__hover">
                        <li><a href="/static/Product_Images/<%= item.image[0].filename %>" class="image-popup"><span class="arrow_expand"></span></a></li>
                        <li>
                            <a  href="/remove-wishlist?id=<%= item._id%>">

                                <span  class="icon_heart_alt"></span></li>
                            </a>
                    </ul>
                </div>
                <div class="product__item__text">
                    <h6><a href="/loadProductDetail/<%=item._id%>"><%= item.productName%></a></h6>
                 
                    <div class="product__price">₹<%= item.discountPrice%><span>₹<%=item.price%></span></div>
                </div>
            </div>
            </div>
        </div>
        <%}) %>
        <% }else{ %>
            <h1>No products to show</h1>
            <% } %>
    </div>
</div>


<!-- WishList Ends-->>


<%- include('../layouts/footer.ejs') -%>